@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 10px;
    background-color: rgba(35, 61, 77, 1);
    color: rgba(251, 245, 243, 1);
    font-family: 'Nunito';
    height: 100%;
    width: 100%;
    min-width: 320px;
}

  /* HOMEPAGE STYLE */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
    height: 100vh;
}

h1  {
    font-size: 2.75rem;
    font-family: 'Oswald';
    color: rgba(252, 202, 70, 1);
    text-align: center;
}

h2{
    font-size: 1.75rem;
    color: rgba(252, 202, 70, 1);
    margin-top: 2.5rem;
    letter-spacing: 0.2rem;
    text-align: center;
    font-weight: 600;
}

ul li{
    font-size: 1.25rem;
    line-height: 2rem;
    margin-top: 1.5rem;
    padding-left: 2rem;
    list-style-image: url(./img/Bullet\ point\ desktop.svg);
}

strong {
    color: rgba(252, 202, 70, 1);
}

.homepage-bottom {
    color: rgba(252, 202, 70, 1);
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2.5rem;
    text-align: center;

}

.playBtn {
    padding: 0.75rem 3rem;
    border-radius: 20px;
    background-color: rgba(228, 74, 18);
    border: none;
    color:  rgba(251, 245, 243, 1);
    font-size: 1.25rem;
    font-weight: 700;
    cursor: pointer;
    font-family: 'Nunito';
    filter: drop-shadow(2px 4px  rgba(150, 50, 14, 0.507));
    margin-top: 1.25rem;
    transition: all 0.6s ease-in-out;
}

.playBtn:hover,
.guessBtn:hover {
    opacity: 0.8;
    filter: drop-shadow(2px 4px rgba(153, 67, 9, 0.568));
}

.playBtn:focus,
.guessBtn:focus {
    background-color: rgb(241, 119, 74);
    filter: drop-shadow(2px 4px rgba(153, 67, 9, 0.568));
}

  /* GAME PAGE SCREEN STYLE */
.gameContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
}

h3 {
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    margin: 2.5rem 0 1rem;
}

.attempts {
    font-size: 1rem;
}

.attemptsLeft {
    font-size: 1rem;
    font-weight: 700;
    color: rgba(252, 202, 70, 1);
}

.form {
    margin-top: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.inputs {
    height: 52px;
    padding: 0 1.25rem;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 34, 1);
    font-size: 1rem;
    font-family: 'Nunito';
    font-weight: 700;
    background-color: rgba(251, 245, 243, 1);
}

.inputs:focus {
  outline: 2px solid rgb(241, 119, 74);
}

.inputs::placeholder {
    font-size: 1rem;
}

.inputs:disabled {
    background-color: rgb(219, 214, 212);
}

.guessBtn {
    padding: 0.75rem 0;
    border-radius: 12px;
    font-size: 1.125rem;
    font-weight: 700;
    color: rgba(251, 245, 243, 1);
    background-color: rgba(228, 74, 18);
    font-family: 'Nunito';
    filter: drop-shadow(2px 4px  rgba(150, 50, 14, 0.507));
    border: none;
    cursor: pointer;
    transition: all 0.6s ease-in-out;
}

.guessBtn:disabled {
    background-color: rgb(241, 119, 74);
}

.resetBtn {
    font-size: 1.25rem;
    font-weight: 500;
    color:rgba(228, 74, 18);
    background-color: transparent;
    align-self: center;
    border: none;
    transition: all 0.6s ease-in-out;
}

.resetBtn:hover,
.resetBtn:focus  {
    color: rgba(251, 245, 243, 1);
    text-decoration: underline;
}

.resultMessage {
    font-size: 1rem;
    font-weight: 500;
    color: greenyellow;
    text-align: center;
    display: none;
    text-wrap: nowrap;
}

.backLink {
    width: 100%;
    display: flex;
}

.back {
    font-size: 1rem;
    color:rgba(153, 67, 9, 0.568);
    text-decoration: none;
    padding: 0.5rem 1.75rem;
    border-radius: 12px;
    background-color: rgba(251, 245, 243, 1);
    box-shadow: 2px 4px rgba(153, 67, 9, 0.568);
    transition: all 0.6s ease-in-out;
}

.back:hover {
    background-color: rgb(241, 119, 74);
    color: rgba(251, 245, 243, 1);
    scale: 0.92;
}

/* Media Queries for Responsiveness */
@media screen and (max-width: 481px) {
    .container {
        width: 76%;
    }

    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.25rem;
        letter-spacing: 0.1rem;
        margin-bottom: 1rem;
    }

    ul li {
        list-style-image: url(./img/Bullet\ point\ mobile.svg);
        font-size: 0.75rem;
        padding-left: 0.75rem;
        margin-top: 0.75rem;
        line-height: 1.25rem;
    }

    .homepage-bottom {
        font-size: 1.25rem;
        margin-top: 1rem;
    }

    .playBtn {
        padding: 0.75rem 2.25rem;
        font-size: 1rem;
    }

    h3 {
        font-size: 1.1rem;
        letter-spacing: 0;
        text-align: center;
    }

    .attempts {
        font-size: 0.75rem;
    }

    .attemptsLeft {
        font-size: 0.75rem;
    }

    .form {
        margin-top: 1rem;
        width: 220px;
    }

    .inputs {
        height: 44px;
        padding: 0.75rem ;
        font-size: 1.25rem;
    }

    .inputs::placeholder {
        font-size: 1rem;
    }

    .backLink {
        justify-content: center;
        margin-bottom: 2rem;
       
    }

    .back {
        font-size: 1rem;
         background-color: transparent;
         box-shadow: none;
         color: rgba(251, 245, 243, 1);
    }  
    
    .back:hover {
        text-decoration: underline;
        background-color: transparent;
        color: rgb(241, 119, 74);
        scale: 1;
    }

    .resultMessage {
        font-size: 0.75rem;
    }
}

@media screen and (min-width: 482px) and (max-width: 768px) {
    .container {
        width: 80%;
    }

    h1 {
        font-size: 2.25rem;
    }

    h2 {
        font-size: 1.25rem;
        letter-spacing: 0.1rem;
        margin-bottom: 1rem;
    }

    ul li {
        list-style-image: url(./img/Bullet\ point\ mobile.svg);
        font-size: 0.75rem;
        padding-left: 0.75rem;
        margin-top: 0.75rem;
        line-height: 1.5rem;
    }

    .homepage-bottom {
        font-size: 1.25rem;
        margin-top: 1.75rem;
    }

    .playBtn {
        padding: 0.75rem 2.25rem;
        font-size: 1rem;
    }

    h3 {
        font-size: 1.25rem;
        letter-spacing: 0;
        text-align: center;
    }

    .attempts {
        font-size: 0.75rem;
    }

    .attemptsLeft {
        font-size: 0.75rem;
    }

    .inputs {
        width: 220px;
        height: 48px;
        padding: 0.75rem ;
    }

    .guessBtn {
        padding: 0.9rem 4.75rem;
        font-size: 1.15rem;
    }

    .resultMessage {
        font-size: 0.75rem;
    }
} 